
 @font-face { font-display: swap; font-style : bold; src: url("assets/fonts/OpenSansRomanSemiBold.ttf"); font-family : "Open Sans"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/OpenSansRegular.ttf"); font-family : "Open Sans"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : bold; src: url("assets/fonts/OpenSansMedium.ttf"); font-family : "Open Sans"; font-weight : 500;  }